.navbar-custom {
    background-color: #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-custom .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-custom .nav-link {
    color: #fff !important;
    margin-left: 10px;
    font-size: 1.1rem;
}

.navbar-custom .nav-link:hover {
    background-color: #2980b9;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-custom .dropdown-menu {
    background-color: #3498db;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-custom .dropdown-item {
    color: #fff;
    font-size: 1rem;
}

.navbar-custom .dropdown-item:hover {
    background-color: #2980b9;
    color: #fff;
}

.logout {
    margin-left: auto;
    color: #fff;
    font-size: 1.1rem;
}

.logout:hover {
    background-color: #000 !important;
}
